<div id="confirmation">
  <p>Hola <%= ticket[:name] %> <%= ticket[:lastname] %>, tu ticket para <strong><%= ticket[:list_films] %></strong> fue generado exitosamente, pronto recibirás un correo con los detalles de tu compra.</p>
</div>
<a href="/" target="_self">Volver al Catálogo</a>