<div id="confirmation">
  <p>Hola <%= name %> <%= lastname %>, tu ticket para <strong><%= list_films %></strong> fue generado exitosamente, pronto recibirás un correo con los detalles de tu compra.</p>
</div>
<a href="/" target="_self">Volver al Catálogo</a>