<form action="/form" method="post">
  <div class="formgrup">
    <label>Nombre</label>
    <input type="text" name="nombre" id="nombre" value="">
  </div>
  <div class="formgrup">
    <label>Apellido</label>
    <input type="text"  name="apellido"  id="apellido" value="">
  </div>
  <div class="formgrup">
    <label>Telefono</label>
    <input type="text" name="telefono" id="telefono" value="">
  </div>
  <div class="formgrup">
    <label >Seleccione la Pelicula</label>
    <select name="list-films">
      <option value="Inside Out">Inside Out</option>
      <option value="Hotel Transilvania 2">Hotel Transilvania 2</option>
    </select>
  </div>
  <div class="formgrup">
    Precio: 10 c/u
  </div>
  <input type="submit" value="Enviar" />
</form>