<form action="/form" method="post">
  <div class="formgrup">
    <label>Nombre</label>
    <input type="text" name="nombre" id="nombre" value="">
  </div>
  <div class="formfgrup">
    <label>Apellido</label>
    <input type="text"  name="apellido"  id="apellido" value="">
  </div>
  <input type="submit" value="Enviar" />
</form>