<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title></title>
  </head>
  <body>
    <header>
      <hgroup>
        <img src="/img/logo.png" width="20%" alt="logo Cinelandia">
        <h2>Lo mejor del cine</h2>
      </hgroup>
    </header>
    
    <div id="container">
      <%= yield %>
    </div>
    <footer>
      <h3>Película de la semana: <%= PELICULA_DE_LA_SEMANA %></h3>
      <p>Creado por <a href="#">Camilo Ruiz</a></p>
    </footer>
  </body>
</html>
  
  