<div class="cardWrap">
  <div class="card cardLeft">
    <h1>Cine<span>Landia</span></h1>
    <div class="title">
      <h2><%= records[id.to_i][:listfilms] %></h2>
      <span>movie</span>
    </div>
    <div class="name">
      <h2><%= records[id.to_i][:name] %></h2>
      <span>name</span>
    </div>
    <div class="seat">
      <h2><%= id %></h2>
      <span>seat</span>
    </div>
    <div class="time">
      <h2>12:00</h2>
      <span>time</span>
    </div>
    
  </div>
  <div class="card cardRight">
    <div class="eye"></div>
    <div class="number">
      <h3><%= id %></h3>
      <span>seat</span>
    </div>
    <div class="barcode"></div>
  </div>
</div>