<div id="confirmation">
  <p>Hello <%= ticket[:name] %> <%= ticket[:lastname] %>, your ticket to <strong><%= ticket[:list_films] %></strong> It was successfully generated, you will soon receive an email with the details of your purchase.</p>
</div>
<a href="/" target="_self">Back to Shop</a>
