<p>Book your tickets:</p>
<form action="/confirmation" method="post">
  <div class="formgrup">
    <label>Name</label>
    <input type="text" name="name" id="name" value="">
  </div>
  <div class="formgrup">
    <label>Last name</label>
    <input type="text"  name="lastname"  id="lastname" value="">
  </div>
  <div class="formgrup">
    <label>Mail</label>
    <input type="text" name="mail" id="mail" value="">
  </div>
  <div class="formgrup">
    <label>Phone</label>
    <input type="text" name="phone" id="phone" value="">
  </div>
  <div class="formgrup">
    <label>Select Movie</label>
    <select name="list_films" id="list_films">
      <option value="Hotel Transilvania 2">Hotel Transilvania 2</option>
      <option value="Inside Out">Inside Out</option>
    </select>
  </div>
  <div class="formgrup">
    Price: 10 c/u
  </div>
  <input type="submit" value="Send" id="send" />
</form>