<div class="col-lg-8">
  <p>Book your tickets:</p>
  <form action="/confirmation" method="post">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" id="name" value="">
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" class="form-control" name="lastname" id="lastname" value="">
    </div>
    <div class="form-group">
      <label>Mail</label>
      <input type="text" class="form-control" name="mail" id="mail" value="">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" id="phone" value="">
    </div>
    <div class="form-group">
      <label>Select Movie</label>
      <select class="form-control" name="list_films" id="list_films">
        <option value="Hotel Transilvania 2">Hotel Transilvania 2</option>
        <option value="Inside Out">Inside Out</option>
      </select>
    </div>
    <div class="form-group">
      Price: 10 c/u
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
