<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title><%= @site_title %></title>
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bower_components/vegas/dist/vegas.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/bower_components/vegas/dist/vegas.min.js"></script>
    <script src="/js/vegas_main.js"></script>
  </body>
</html>
